.about-page {
  background-color: #10221d;
  height: 100vh;
  padding-top: 50px;
}
.heading-container {
  position: relative; /* For text overlay positioning */
  text-align: center; /* Centers the text */
}

.heading-outline {
  font-size: 200px; /* Large text for outline */
  color: transparent; /* Transparent fill */
  text-transform: uppercase;
  letter-spacing: 5px; /* Space between letters */
  font-weight: bold;
  -webkit-text-stroke: 2px #dceee9; /* Outline color */
  font-family: fantasy;
  opacity: 0.1; /* Reduce transparency */
}

.heading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: #52ac94;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: fantasy;
  white-space: nowrap; /* Prevents wrapping */
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center container horizontally */
  gap: 100px;
  width: 100%;
  max-width: 1200px; /* Restrict the width for better layout */
  min-height: 60vh;
}

.about-left,
.about-right {
  flex: 1; /* Ensures both sections take equal space */
  display: flex;
  align-items: center; /* Centers content vertically within the section */
  justify-content: center; /* Centers content horizontally within the section */
  text-align: center;
}

.about-left .doodle-box img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-right {
  text-align: center;
  padding: 20px;
}

.about-right p {
  font-size: 2rem;
  line-height: 1.6;
  color: #c9d1d1;
  margin: 0 20px;
  font-family: fantasy;
}

/* Media Queries for Stacked Layout */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; /* Stack items vertically */
    gap: 50px; /* Reduce gap for better vertical spacing */
  }

  .about-left,
  .about-right {
    flex: none; /* Remove flex-grow */
    width: 100%; /* Ensure full width for stacked layout */
  }

  .about-right p {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .heading-overlay {
    font-size: 3rem; /* Reduce heading size for very small screens */
  }

  .heading-outline {
    font-size: 7rem;
    -webkit-text-stroke: 1px #dceee9;
  }

  .about-container {
    gap: 5px; /* Further reduce spacing */
  }

  .about-right p {
    font-size: 1.25rem; /* Adjust text size for narrow screens */
  }
  .about-left .doodle-box img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
  }
}
