.footer-container{
    display: flex; /* Enable Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100px;

    background-color: #2c5c4f;
}

.footer-copyright { 
    font-weight: 600;
    color: white;
    margin: 0;
}