.main-card {
  background-color: #10221d;
  padding: 20px;
  text-align: center;
  max-width: 100%;
  height: 100vh;
  display: flex; /* Flexbox for alignment */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column; /* Stack items vertically */
  border: none;
}

.profile-card {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack items vertically inside the profile card */
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Add space between elements */
  border: none;
}

.profile-card .profile-image {
  margin-top: 50px;
  width: 500px; /* Set fixed width for the circular image */
  height: 500px; /* Maintain circular aspect ratio */
  border-radius: 50%;
  border: 3px solid #dceee9;
}

.profile-card .profile-title {
  font-family: fantasy;
  font-size: 100px;
  margin: 0;
  color: #dceee9;
}

.my-location {
  font-family: fantasy;
  font-size: 30px;
  color: #dceee9;
}
.profile-card p {
  font-family: fantasy;
  font-size: 24px;
  margin: 0;
  color: #dceee9;
  width: 50%;
}

.tech-stack {
  margin-top: 20px;
}
