.project-page {
  background-color: #2c5c4f;
  padding-top: 50px;
}

.project-page h1 {
  font-family: fantasy;
  font-size: 100px;
  text-align: center;
  color: white;
}

.project-container {
  padding: 20px;
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
  height: 100vh;
}

.project {
  display: flex; /* Horizontal layout for left and right sections */
  flex-direction: row; 
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
  max-width: 400px; 
  background-color: #f9f9f9; 
  gap: 20px; 
  align-items: stretch; /* Ensure both sections are the same height */
}

.project-left {
  display: flex;
  flex-direction: column; /* Stack image and title */
  align-items: center; /* Center horizontally */
  gap: 10px; 
  flex-shrink: 0; 
}

.project .project-image {
  width: 120px;
  height: 120px;
  border-radius: 50%; 
}

.project .project-title {
  font-size: 18px;
  color: black;
  text-align: center;
  margin: 0;
}

.project-right {
  flex: 1; /* Full width for the paragraph */
  display: flex;
  align-items: flex-start; /* Align paragraph to top */
}

.project .project-description {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}
